@font-face {
                                font-family: Golos;
                                font-display: swap;
                                src: url("../fonts/Golos-UI_Medium.woff2") format("woff2"), url("../fonts/Golos-UI_Medium.woff") format("woff");
                                font-weight: 400;
                                font-style: normal
                            }
@font-face {
                                font-family: Golos;
                                font-display: swap;
                                src: url("../fonts/Golos-UI_Bold.woff2") format("woff2"), url("../fonts/Golos-UI_Bold.woff") format("woff");
                                font-weight: 400;
                                font-style: normal
                            }
@font-face {
                                font-family: Golos;
                                font-display: swap;
                                src: url("../fonts/Golos-UI_Regular.woff2") format("woff2"), url("../fonts/Golos-UI_Regular.woff") format("woff");
                                font-weight: 400;
                                font-style: normal
                            }
@font-face {
                                font-family: Golos;
                                font-display: swap;
                                src: url("../fonts/Golos-UI_VF.woff2") format("woff2"), url("../fonts/Golos-UI_VF.woff") format("woff");
                                font-weight: 400;
                                font-style: normal
                            }
