.create-menu.active {
    z-index: 1000;

    .create-menu__layer {
        opacity: 1;
    }

    .create-menu__in {
        transform: translateY(0);
    }
}

.create-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    z-index: -1;
    transition: all .5s;

    &__layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        @include def-anim;
        opacity: 0;
    }

    &__in {
        width: 100%;
        background-color: #fff;
        border-radius: 15px 15px 0 0;
        padding-bottom: 10vh;
        transform: translateY(100%);
        transition: all .5s cubic-bezier(.3,.54,.27,.99);
        overflow: hidden;
    }

    &__drag {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 0 13px;
        background: #F7F7F7;

        &_el {
            height: 4px;
            width: 61px;
            background-color: #E5E5E5;
            border-radius: 2px;
        }
    }

    &__head {
        text-align: center;
        padding: 0 0 13px 0;
        font-weight: 700;
        font-size: 16px;
        font-weight: 700;
        color: #FF9E10;
        background: #F7F7F7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    }

    &__list {
        padding-left: 15px;
        padding-top: 15px;

        &_item {
            padding: 6px 15px 6px 40px;
            position: relative;
            font-size: 14px;
            line-height: 28px;

            &:before {
                position: absolute;
                bottom: 0;
                right: 0;
                width: calc(100% - 40px);
                height: 0.5px;
                background-color: #E5E5E5;
                content: '';
            }

            &:after {
                position: absolute;
                top: calc(50% - (25px / 2));
                left: 0;
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &_item.create-menu__list_item--publication {
            &:after {
                content: url('../img/icons/btn-publication.svg');
            }
        }   

        &_item.create-menu__list_item--reels {
            &:after {
                content: url('../img/icons/btn-reels.svg');
            }
        }

        &_item.create-menu__list_item--history {
            &:after {
                content: url('../img/icons/btn-hist.png');
            }
        }

        &_item.create-menu__list_item--actual {
            &:after {
                content: url('../img/icons/btn-actual.png');
            }
        }

        &_item.create-menu__list_item--way {
            &:after {
                content: url('../img/icons/btn-way.png');
            }
        }
    }
}