.post-item.post-page {

    height: 100% !important;
    width: 100% !important;
    padding-bottom: 62px;

    .post-item__img {
        width: 100%;
    }

    .post-item__body {
        width: 100%;

        &_content {
            height: unset;
            padding: 10px 30px;


            .post--body {

                &_img {
                    display: none;
                }

                &_content {

                    &_nick {
                        font-size: 14px;
                    }

                    &_text {
                        font-size: 14px;
                    }
                }
            }
        }

        &_action {

            &-top {
                flex-wrap: wrap;
            }

            &-info {
                order: 2;
                width: 100%;
            }

            &-btns {
                order: 1;
                margin-bottom: 20px;
                width: 100%;

                justify-content: flex-end;

                &_item {

                }

                &_item.btn-save {
                    order: 1;
                }

                &_item.btn-like {
                    order: 2;
                }

                &_item.btn-comment {
                    order: 3;
                }

                &_item.btn-repost {
                    order: 4;
                }
            }
        }
    }
}