.btn-like {
    cursor: pointer;
    position: relative;

    .none {
        display: block;
    }

    .active {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include def-anim;

    }
}

.btn-like.active {
    .active {
        opacity: 1;
    }
}

// .btn-like.btn-like-dis {
//     opacity: 0.6;
// }

// .btn-like.btn-like-dis.active {
//     opacity: 1;
// }