.button {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.button.button-orange {
    background: linear-gradient(180deg, #FFC31A 0%, #FF8B00 100%);
    color: #fff;
}