.cnt {

    &__tabs {
        border-top: 1px solid #E5E5E5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;

        &_item {
            padding: 15px 7px;
            padding-left: 35px;
            text-transform: uppercase;
            position: relative;
            opacity: .5;
            cursor: pointer;

            font-weight: 700;
            font-size: 14px;
            line-height: 20px;

            &:before {
                position: absolute;
                top: calc(50% - (25px / 2));
                left: 5px;
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:after {
                position: absolute;
                top: -1.5px;
                left: 50%;
                width: 0px;
                height: 2px;
                content: '';
                background-color: #000;
                @include def-anim;
                z-index: 2;

            }
        }

        &_item.active {
            opacity: 1;

            &:after {
                width: 100%;
                left: 0;
            }
        }

        &_item.tab--posts {
            &:before {
                content: url('../img/icons/tab-posts.svg');
            }
        }

        &_item.tab--reels {
            &:before {
                content: url('../img/icons/tab-reels.svg');
            }
        }

        &_item.tab--video {
            &:before {
                content: url('../img/icons/tab-video.svg');
            }
        }

        &_item.tab--saved {
            &:before {
                content: url('../img/icons/tab-saved.svg');
            }
        }
        &_item.tab--mark {
            &:before {
                content: url('../img/icons/tab-mark.svg');
            }
        }
    }

    &__body {
        padding: 15px 0;
        &_item {

            .row {
                display: flex;
                margin-bottom: 3%;
                align-items: stretch;
                &__item {
                    width: calc(100% / 3.2);
                    margin-right: 3%;
                    
                    &:last-child {
                        margin-right: 0;
                    }

                    .post {
                        background-color: #EFEFEF;
                        max-width: 332px;
                        width: 100%;
                        display: block;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                            object-fit: contain;
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}