.post-item {
    // width: 100% !important;
    // height: 100% !important;
    max-width: unset !important;
    // max-height: unset;
    // padding: 26px 50px;
    height: 80vh !important;
    width: 80vw !important;

    .iziModal-wrap {
        width: 100%;
        height: 100% !important;
        
    }
    .iziModal-content {
        display: flex;
        width: 100%;
        height: 100% !important;
    }
    &__img {
        // width: 60%;
        img {
            display: flex;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__body {
        // max-width: 505px;
        width: 45%;
        display: flex;
        flex-direction: column;
        

        &_head {
            background-color: #F7F7F7;
            padding: 16px 30px;
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 77px;

            &_main {
                display: flex;
                align-items: center;

                .img {
                    flex: 0 0 auto;
                    width: 49px;
                    height: 49px;
                    border-radius: 100%;
                    overflow: hidden;
                    margin-right: 14px;
                    background-color: #AFAFAF;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .body {

                    &__name {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: normal;
                    }

                    &__geo {
                        font-weight: 700;
                        font-size: 14px;
                        line-height: normal;
                        color: #AFAFAF;
                    }
                }
            }
        }
        &_content {
            flex: 1 0 auto;
            // height: calc(100% - 52px - 77px);
            padding: 25px 30px;
            overflow-y: auto;


            .post--body {
                display: flex;
                align-items: flex-start;
                margin-bottom: 40px;
                &_img {
                    width: 50px;
                    height: 50px;
                    flex: 0 0 auto;
                    border-radius: 100%;
                    overflow: hidden;
                    margin-right: 14px;

                    img {
                        width: 100%;    
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &_content {

                    &_nick {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 21px;
                    }

                    &_text {
                        font-size: 16px;
                        line-height: 21px;
                    }

                    &_tags {
                        font-size: 16px;
                        line-height: 21px;
                        color: #024EE2;
                    }

                    &_date {
                        font-size: 14px;
                        line-height: 17px;
                        color: #AFAFAF;
                        margin-top: 6px;
                        font-weight: 700;
                    }
                }
            }

            .post--comments {
                width: 100%;
                &_item {
                    display: flex;
                    align-items: flex-start;
                    margin-bottom: 20px;
                    width: 100%;

                    &_img {
                        width: 50px;
                        height: 50px;
                        flex: 0 0 auto;
                        border-radius: 100%;
                        overflow: hidden;
                        
    
                        img {
                            width: 100%;    
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    &_body {    
                        flex: 1 0 auto;
                        padding: 0 12px;
                        max-width: 80%;
                        &_main {
                            margin-bottom: 15px;
                            &-nick {
                                font-size: 18px;
                                line-height: 21px;
                                font-weight: 700;
                            }

                            &-text {
                                font-size: 16px;
                                line-height: 21px;
                            }
                        }

                        &_ex {
                            display: flex;
                            align-items: center;
                            color: #AFAFAF;
                            font-size: 14px;
                            line-height: 17px;

                            &-date {
                                font-weight: 700;
                                margin-right: 15px;
                            }

                            &-value {
                                margin-right: 15px;
                            }

                            &-answer {
                                margin-right: 15px;
                            }
                        }
                    }

                    &_action {
                        display: flex;
                        align-items: center;


                        &-like.active {

                            
                        }
                        &-like {
                            
                        }
                    }
                }
            }
        }
        &_action {
            flex: 0 0 auto;
            // height: 52px;


            &-top {
                padding: 20px 33px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-top: 1px solid #E5E5E5;

            }

            &-info {

                &_prev {
                    
                }

                &_descr {
                    font-size: 16px;
                    line-height: 19px;
                    
                    span {
                        font-weight: 700;
                    }
                }
            }

            &-btns {
                display: flex;
                align-items: center;

                &_item {
                    width: 25px;
                    height: 25px;
                    margin: 0 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    .active {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }

                    }

                    .none {
                        width: 100%;    
                        height: 100%;
                        display: flex !important;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }

            &-bottom {
                display: flex;
                align-items: center;
                padding: 15px 21px;
                background: #F7F7F7;
            }

            &-emj {
                flex: 0 0 auto;
                padding: 0 3px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &-input {
                flex: 1 0 auto;
                display: block;
                padding: 0 5px;
                font-size: 16px;
                line-height: 19px;

                &::placeholder {
                    color: #AFAFAF;
                }
            }

            &-btn {
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                line-height: 17px;
                color: #FF9E10;
                padding: 0 3px;
            }

        }
    }
}