<div class="cnt">
    <div class="cnt__tabs">
        <div class="cnt__tabs_item tab--posts active">
            Публикации
        </div>
        <div class="cnt__tabs_item tab--reels">
            REELS
        </div>
        <div class="cnt__tabs_item tab--video">
            ВИДЕО
        </div>
        <div class="cnt__tabs_item tab--saved">
            СОХРАНЕННОЕ
        </div>
        <div class="cnt__tabs_item tab--mark">
            ОТМЕТКИ
        </div>
    </div>
    <div class="cnt__body">
        <div class="cnt__body_item">
            <div class="row">
                <div class="row__item" data-izimodal-open="#post1">
                    <div class="post">
                        <img src="./img/post.png" alt="">
                    </div>
                </div>
                <div class="row__item" data-izimodal-open="#post2">
                    <div class="post">
                        <img src="./img/post.png" alt="">
                    </div>
                </div>
                <div class="row__item" data-izimodal-open="#post3">
                    <div class="post">
                        <img src="./img/post.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row__item" data-izimodal-open="#post4">
                    <div class="post">
                        <img src="./img/post.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>