<div class="cnt">
    <div class="cnt__tabs">
        <div class="cnt__tabs_item tab--posts active">
            <div class="icon">
                <img src="../img/icons/tab-posts.svg" alt="">   
            </div> 
            <div class="text">Публикации</div>
        </div>
        <div class="cnt__tabs_item tab--reels">
            <div class="icon">
                <img src="../img/icons/tab-reels.svg" alt="">
            </div>
            <div class="text">REELS</div>
        </div>
        <div class="cnt__tabs_item tab--video">
            <div class="icon">
                <img src="../img/icons/tab-video.svg" alt="">
            </div>
            <div class="text">ВИДЕО</div>
        </div>
        <div class="cnt__tabs_item tab--saved">
            <div class="icon">
                <img src="../img/icons/tab-saved.svg" alt="">
            </div>
            <div class="text">СОХРАНЕННОЕ</div>
        </div>
        <div class="cnt__tabs_item tab--mark">
            <div class="icon">
                <img src="../img/icons/tab-mark.svg" alt="">
            </div>
            <div class="text">ОТМЕТКИ</div>
        </div>
    </div>
    <div class="cnt__body">
        <div class="cnt__body_item">
            <div class="row">
                <div class="row__item" data-izimodal-open="#post1">
                    <div class="post">
                        <img src="./img/post.png" alt="">
                    </div>
                </div>
                <div class="row__item" data-izimodal-open="#post2">
                    <div class="post">
                        <img src="./img/post.png" alt="">
                    </div>
                </div>
                <div class="row__item" data-izimodal-open="#post3">
                    <div class="post">
                        <img src="./img/post.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row__item" data-izimodal-open="#post4">
                    <div class="post">
                        <img src="./img/post.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>