<div class="input input-label-within-block">
    <input id="inp-test" type="text">
    <label for="inp-test">
        Моб. телефон или эл. адрес
    </label>
    <div class="ex">
        <div class="ex__item ex__item-check">
            <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.07692L4.4358 8.58752C4.59466 8.79607 4.90782 8.79798 5.06922 8.5914L11 1" stroke="#AFAFAF" stroke-width="1.4" stroke-linecap="round"/>
                </svg>
        </div>
    </div>
</div>