<div class="stm swiper">
    <ul class="stm__list swiper-wrapper">

        <li class="stm__list_item swiper-slide">
            <div class="stm__list_item_in">
                <div class="store-item">
                    <div class="action-wrap">
                        <div class="action disable-preview">
                            <div class="icon">
                                <img src="./img/icons/stm-icon.svg" alt="">
                            </div>
                            <div class="preview">
                                <img src="./img/profile/avatar.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="name">Кейсы</div>
            </div>
        </li>

        <li class="stm__list_item swiper-slide">
            <div class="stm__list_item_in">
                <div class="store-item">
                    <div class="action-wrap">
                        <div class="action disable-preview">
                            <div class="icon">
                                <img src="./img/icons/stm-icon.svg" alt="">
                            </div>
                            <div class="preview">
                                <img src="./img/profile/avatar.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="name">Кейсы</div>
            </div>
        </li>

        <li class="stm__list_item swiper-slide">
            <div class="stm__list_item_in">
                <div class="store-item">
                    <div class="action-wrap">
                        <div class="action disable-preview">
                            <div class="icon">
                                <img src="./img/icons/stm-icon.svg" alt="">
                            </div>
                            <div class="preview">
                                <img src="./img/profile/avatar.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="name">Кейсы</div>
            </div>
        </li>

        <li class="stm__list_item swiper-slide">
            <div class="stm__list_item_in">
                <div class="store-item">
                    <div class="action-wrap">
                        <div class="action disable-preview">
                            <div class="icon">
                                <img src="./img/icons/stm-icon.svg" alt="">
                            </div>
                            <div class="preview">
                                <img src="./img/profile/avatar.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="name">Кейсы</div>
            </div>
        </li>

        <li class="stm__list_item swiper-slide">
            <div class="stm__list_item_in">
                <div class="store-item">
                    <div class="action-wrap">
                        <div class="action disable-preview">
                            <div class="icon">
                                <img src="./img/icons/stm-icon.svg" alt="">
                            </div>
                            <div class="preview">
                                <img src="./img/profile/avatar.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="name">Кейсы</div>
            </div>
        </li>

        <li class="stm__list_item swiper-slide">
            <div class="stm__list_item_in">
                <div class="store-item">
                    <div class="action-wrap">
                        <div class="action disable-preview">
                            <div class="icon">
                                <img src="./img/icons/stm-icon.svg" alt="">
                            </div>
                            <div class="preview">
                                <img src="./img/profile/avatar.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="name">Кейсы</div>
            </div>
        </li>

        <li class="stm__list_item swiper-slide">
            <div class="stm__list_item_in">
                <div class="store-item">
                    <div class="action-wrap">
                        <div class="action disable-preview">
                            <div class="icon">
                                <img src="./img/icons/stm-icon.svg" alt="">
                            </div>
                            <div class="preview">
                                <img src="./img/profile/avatar.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="name">Кейсы</div>
            </div>
        </li>

        <li class="stm__list_item swiper-slide">
            <div class="stm__list_item_in">
                <div class="store-item">
                    <div class="action-wrap">
                        <div class="action disable-preview">
                            <div class="icon">
                                <img src="./img/icons/stm-icon.svg" alt="">
                            </div>
                            <div class="preview">
                                <img src="./img/profile/avatar.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="name">Кейсы</div>
            </div>
        </li>

        <li class="stm__list_item swiper-slide">
            <div class="stm__list_item_in">
                <div class="store-item">
                    <div class="action-wrap">
                        <div class="action disable-preview">
                            <div class="icon">
                                <img src="./img/icons/stm-icon.svg" alt="">
                            </div>
                            <div class="preview">
                                <img src="./img/profile/avatar.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="name">Кейсы</div>
            </div>
        </li>
        
    </ul>
</div>